.widgetLong{
    flex:2;
    -webkit-box-shadow: 1px 1px 33px -3px #000000; 
    box-shadow: 1px 1px 33px -3px #000000;
    padding: 20px;
    margin: 20px;
}

.widgetLongTitle{
    font-size: 20px;
    font-weight: 600;
}

.widgetLongTable{
    width: 100%;
    border-spacing: 20px;
}

.widgetLongTh{
    text-align: center;
}

.widgetLongUser{
    display: flex;
    align-items: center;
    font-weight: 600;
}

.widgetLongPic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.widgetLongFecha.widgetLongMonto{
    font-weight: 600;
}

.widgetLongButton{
    padding: 5px 7px;
    border: none;
    border-radius: 10px;
}

.widgetLongButton.Aprobado{
    background-color: #e5faf2;
    color: green;
}

.widgetLongButton.Pendiente{
    background-color: #e5faf2;
    color: blue;
}

.widgetLongButton.Rechazado{
    background-color: #e5faf2;
    color: red;
}